#loading-mask {
    background-color: #f2f2f2;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

#loading {
    left: 40%;
    top: 40%;
    position: relative;
}

img.loadingimg {
    width: 100px;
    float: left;
}
span.loading {
    font-family: sans-serif;
    font-size: 2em;
    float: left;
    line-height: 100px;
    margin-left: 25px;
}
@font-face {
    font-family: "Amble-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("Amble-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Motor-Oil-1937-M54";
    font-style: normal;
    font-weight: normal;
    src: url("Motor-Oil-1937-M54.ttf") format("truetype");
}
@font-face {
    font-family: "HamburgerHeaven";
    font-style: normal;
    font-weight: normal;
    src: url("HamburgerHeaven.ttf") format("truetype");
}
@font-face {
    font-family: "Playball";
    font-style: normal;
    font-weight: normal;
    src: url("Playball.ttf") format("truetype");
}
html, body {
    background: url("../images/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #3B3B3B;
    font-family: 'Amble-Regular',serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    overflow: scroll;
}
h1, h2 {
    font-family: 'Motor-Oil-1937-M54',serif;
}
h2.intoawebsite {
    float: right;
    font-family: 'Playball',serif;
    font-size: 3em;
    margin: -18px 20px 0 0;
}
ul.home {
    float: left;
    font-family: 'HamburgerHeaven',serif;
    font-size: 2em;
    margin: 0 0 10px 10px;
}
#full-background-image {
    height: 100%;
    left: 0;
    min-height: 535px;
    min-width: 750px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -999;
}
#container {
    height: auto;
    margin: 0 auto;
    min-height: 100%;
    width: 758px;
}
#framehome, #frameworks, #framecontact, #frameabout {
    margin: 0px auto;
    min-height: 500px;
    width: 750px;
    border: solid #3b3b3b 4px;
	background: rgba(255,255,255,1);
    box-shadow: 0px 0px 50px #4d4d4d;
	border-spacing: 0;
	-webkit-transform-origin: 75px 75px;
	-moz-transform-origin: 75px 75px; 
	-ms-transform-origin: 75px 75px;
	-o-transform-origin: 75px 75px;
	transform-origin: 75px 75px;
    position: absolute;
    top: 10px;
}

#framehome {
    z-index: 15;
}
#frameworks {
    display: none;
    opacity: 0;
    z-index: 10;
}
#framecontact {
    display: none;
    opacity: 0;
    z-index: 10;
}
#frameabout {
    display: none;
    opacity: 0;
    z-index: 10;
}
#menu {
    margin: 5px auto 0;
    min-height: 60px;
    width: 690px;
}
#inner-frame {
    border-bottom: 4px dotted #4D4D4D;
    border-top: 4px dotted #4D4D4D;
    margin: 0 auto 25px auto;
    width: 700px;
}

#framehome #inner-frame{
    min-height: 850px;
    height: 900px;
}
#frameabout #inner-frame{
    min-height: 850px;
    height: 850px;
}
#framecontact #inner-frame{
    min-height: 550px;
    height: 550px;
}
#frameworks #inner-frame {
    min-height: 1750px;
    height: 1750px;
}

#footer {
}
a.menu-item {
    cursor: pointer;
    display: inline-block;
    float: left;
    margin: 0 30px;
    text-align: center;
}
a.menu-item:hover {
    color: #E84D5F;
}
a.current {
    color: #2298AF;
    cursor: default;
}
a.current:hover {
    color: #2298AF;
    cursor: default;
}
.title {
    font-size: 1.4em;
}
.sub-title {
    font-size: 0.8em;
}
.store {
    float: left;
    width: 250px;
}
.responsivee {
    float: right;
    width: 335px;
}
.arrow {
    left: 260px;
    position: absolute;
    top: 245px;
    width: 150px;
}
.envelope {
    float: left;
    width: 700px;
}
.webdesign {
    position: absolute;
    right: 50px;
    top: 90px;
}
.iturnyour {
    left: 10px;
    position: absolute;
    top: 155px;
}
#title {
    background: url("../images/ribbon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    height: 85px;
    margin: -10px auto 40px;
    width: 550px;
}
h1.title {
    color: #EAE2CF;
    font-size: 2.4em;
    line-height: 70px;
    text-align: center;
}
#contactbox {
    position: absolute;
    right: 80px;
    top: 330px;
}
h2.contact-name, h2.contact-eMail {
    font-size: 2em;
    text-align: right;
    font-family: 'Amble-Regular',serif;

}
h2.services {
    font-size: 1.8em;
}
.airmail {
    position: absolute;
    right: 10px;
    top: 75px;
    width: 150px;
}
#googleplus {
    float: right;
}
#social {
    float: right;
}
a.right {
    color: #3B3B3B;
    float: right;
    font-size: 2em;
    margin: 40px 0 0 10px;
    text-decoration: none;
}
.right {
    float: right;
}
.contact-now {
    cursor: pointer;
    position: absolute;
    right: 45px;
    top: 490px;
}
#services {
    float: left;
    margin: 65px 10px 10px;
    width: 700px;
}
.bold {
    font-weight: bold;
}
ul.services li {
    margin: 5px 0;
}

.googlecontact {
    left: 325px;
    position: absolute;
    top: 335px;
}
.google, .twitter, .instagram, .linkedin {
    vertical-align: middle;
    width: 64px;
}
ul.social li {
    list-style: none outside none;
    margin: 5px 0;
}
ul.social li a {
    color: #3B3B3B;
    text-decoration: none;
}
ul.social li a:hover {
    color: #3B3B3B;
    text-decoration: none;
}
#homebanner {
    height: 220px;
    margin: 55px auto 0;
    width: 700px;
}

#work {
    background: url("../images/cinemaback.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 4px solid #3B3B3B;
    box-shadow: 0 0 3px #3B3B3B inset;
    height: 225px;
    margin: 10px 0;
    width: 690px;
}

.w-desc {
    border: 2px solid #3B3B3B;
    float: left;
    margin: 10px;
}
#workdesc {
    float: left;
    width: 350px;
}
.red {
    color: #E84D5F;
}
.black {
    color: #3B3B3B;
}
#workdesc p {
    font-size: 1.4em;
}
h3 {
    color: #E84D5F;
    font-size: 2em;
    margin: 2px 0 20px;
}
img.me {
    border: 4px solid #3B3B3B;
    width: 450px;
}
#medesc {
    float: left;
    width: 450px;
    margin: 0px 0px 10px 0px;
}
.topsecret {
    position: absolute;
    top: 450px;
    left: 325px;
    width: 200px;
}
img.showcase {
    margin: 0px 0px 0px -10px;
}
img.specialguest {
    margin: 0px 0px 0px -15px;
}

img.language {
    position: relative;
    z-index: 999999;
    top: 0px;
    left: 740px;
}

.bold {
	font-weight: bold;
}